.animate {
	color: #487a6a !important;
	position: relative;
	/* -webkit-text-stroke: 0.3vw #f7f7fe; */
}


.animate::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #75dab4;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #75dab4;
	-webkit-text-stroke: 0vw #f7f7fe;
	animation: animate 6s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 23%;
	}
}
